@import "tailwindcss";

body {
  @apply text-xs md:text-base xl:text-lg;
  @apply transition-colors;
}

.css-header-text {
  @apply text-xl md:text-2xl xl:text-3xl;
}

@keyframes shine {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

.shiny-text {
  display: inline-block;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0.5) 100%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shine 7s infinite;
}


